html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 106px;
  bottom: 0;
  height: inherit;
}
.w3-top {
	background-color: #233692;
	padding: 10px 0 10px 0;
}

.w3-main {
	margin-top: 36px;
}

.w3-hover-indigo:focus {
	color: #fff!important;
	background-color:#3f51b5!important;
}

.w3-indigo:focus {
	color: #000000!important;
	background-color: #e0e0eb!important;
}
